QMainWindow { 
    background-color: #E7F4EF; 
}


/* Welcome Page */

QWidget#welcome_scroll_widget {
    background-color: transparent;
}

QLabel#welcome_title {
    font-family: "Arial";
    font-size: 24px;
    color: #0f5132;
    font-weight: bold;
    margin-bottom: 10px; 
}

QLabel#instruction_paragraph, 
QLabel#instruction_paragraph_final,
QLabel#instruction_list_item {
    font-family: "Arial";
    font-size: 14px; 
    color: #333333; 
    line-height: 1.5; 
    margin-bottom: 8px; 
}

QLabel#instruction_heading {
    font-family: "Arial";
    font-size: 18px; 
    color: #1a6a40; 
    font-weight: bold;
    margin-top: 10px; 
    margin-bottom: 5px; 
}

QLabel#instruction_list_item {
    padding-left: 25px;
}

QLabel#token_label {
    font-family: "Arial";
    font-size: 14px;
    color: #333333;
    font-weight: bold;
    margin-right: 5px;
}

QLineEdit#token_input_welcome {
    font-family: "Arial";
    font-size: 14px;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 12px;
    min-height: 25px;
    background-color: White;
    color: #606060; 
    font-weight: bold;
}

QPushButton#submit_token_button {
    font-family: "Arial";
    font-size: 16px;
    background-color: #397b58;
    color: white;
    border-radius: 12px;
    padding: 10px 25px;
    font-weight: bold;
    margin-top: 15px; 
}

QPushButton#submit_token_button:hover {
    background-color: #4BA173;
}

QPushButton#submit_token_button:pressed {
    background-color: #145c2c;
}

QLabel#error_label_token {
    font-family: "Arial";
    font-size: 14px;
    color: #dc3545;
    margin-top: 10px; 
    font-weight: bold;
}

/* ==================================== */



/* Course Select Interface */

QWidget#scroll_content_courses_widget {
    background-color: transparent;
}

QLabel#course_selection_title {
    font-family: "Arial";
    font-size: 24px;
    color: #0f5132;
    font-weight: bold;
}

QPushButton#course_button {
    font-family: "Arial";
    font-size: 16px;
    background-color: #397b58;
    color: white;
    border-radius: 16px;
    padding: 10px 30px;
    font-weight: bold;
    min-width: 300px;
    max-width: 400px;
    text-align: left;
}

QPushButton#course_button:hover { background-color: #4BA173;}

QPushButton#course_button:pressed { background-color: #145c2c; }

Qlabel#no_courses_label {
    font-family: "Arial";
    font-size: 16px;
    color: #ee1515;
    font-weight: bold;
    margin-top: 20px;
}

/* ==================================== */



/* Chat Interface */

QLabel#selected_course_label {
    font-family: "Arial";
    font-size: 16px;
    color: white;
    font-weight: bold;
    background-color: #397b58;
    border-radius: 16px;
    padding: 10px 30px;
}

QPushButton#back_to_courses_button {
    font-family: "Arial";
    font-size: 16px;
    color: white;
    font-weight: bold;
    background-color: #397b58;
    border-radius: 16px;
    padding: 10px 30px;
}

QPushButton#back_to_courses_button:hover { background-color: #4BA173; }

QPushButton#back_to_courses_button:pressed { background-color: #145c2c; }

QScrollArea { 
    background-color: #E7F4EF;
    border: 3px solid #8DC641; 
    border-radius: 16px; 
}

QWidget#chat_container_widget { 
    background-color: transparent;
}

QStatusBar {
    background-color: #397b58;
    color: white;
    font-family: "Arial";
    font-size: 14px;
    padding: 10px;
    border-radius: 16px;
    font-weight: bold;
}


/* ==================================== */



/* Bottom Input Area */

QWidget#bottom_input_widget {
    background-color: white;
    border-radius: 30px;
    border: 1px solid #ced4da;
    padding: 8px 14px;
    color: #606060;
    min-height: 39px;
    padding: 12px;
    margin-top: 20px
}

QLineEdit#user_input {
    border-radius: 16px;
    padding: 8px 14px;
    font-size: 12pt;
    background: white;
    color: #606060;
    max-height: 30px;
    margin-left: 15px;
    font-weight: bold;
}

QPushButton#run_button {
    background-color: #3c815c;
    color: white;
    border-radius: 22px;
    padding: 0 30px;
    font-weight: bold;
    max-height: 44px;
    min-width: 50px;
    margin-right: 15px;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
}

QPushButton#run_button:hover { background-color: #4BA173; }

QPushButton#run_button:pressed { background-color: #145c2c; }

/* ==================================== */



/* Messages Displays */

QLabel#user_message {
    background-color: #C3E1A9;
    color: #606060;
    border-radius: 16px;
    border-bottom-right-radius: 2px;
    padding: 8px 16px;
    margin: 4px 0px 4px 0px;
    font-family: "Arial";
    font-size: 16px;
    font-weight: bold;
}

QLabel#user_title {
    font-weight: bold;
    color: #0f5132;
    font-family: "Arial";
    font-size: 16px;
}

QLabel#bot_message {
    background-color: #95c8ad;
    color: #606060;
    border-radius: 16px;
    border-bottom-left-radius: 2px;
    padding: 8px 16px;
    margin: 4px 0px 4px 0px;
    font-family: "Arial";
    font-size: 16px;
    font-weight: bold;
}

/* ==================================== */